$govuk-images-path: "/public/assets/images/";
$govuk-fonts-path: "/public/assets/fonts/";
$tablet-breakpoint: 641px !default;

@import "govuk-frontend/all.scss";

// Overrides the GOV.UK width when longer
.govuk-header__logo--wide {
  width: inherit;
}

.fix-entity-list-multiple-choice {
  padding: 0 0 28px 0;
}
// Code block styling:
code {
  padding: 0 govuk-spacing(1);
  color: govuk-colour("pink");
  background-color: govuk-colour("grey-4");
}