$white: #fff;
$tablet-breakpoint: 641px !default;

#proposition-header {
  overflow: auto;
  clear: both;
  color: $white;
  & a {
    float: left;
  }
  & span {
    float: right;
  }
}

#proposition-menu {
  display: block;
}

#proposition-menu #main-menu,
#proposition-menu > input {
  @include govuk-font(80);
  display: none;
}

#proposition-menu > label {
  @include govuk-font(19, $weight: bold);
  font-size: 19px;
  float: right;
  color: $white;
}

#proposition-menu > input:checked + #main-menu {
  clear: both;
  display: block;
}

#main-menu {
  list-style: none;
  & li > a {
    @include govuk-font(16, $weight: bold);
    color: white;
    text-decoration: none;
    &.active {
      color: govuk-colour("blue");
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-device-width: $tablet-breakpoint) {
  #proposition-menu {
    height: auto;
  }
  #proposition-menu #main-menu {
    display: block;
  }
  #proposition-menu > label {
    display: none
  }
  #proposition-menu ul li {
    display: inline-block;
    margin-right: 30px;
  }
}